@font-face {
    font-family: 'Gilroy';
    src: url("../public/font/gilroy-bold/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../public/font/gilroy-bold/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../public/font/gilroy-bold/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../public/font/gilroy-bold/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../public/font/gilroy-bold/Gilroy-Heavy.ttf") format("truetype");
    font-weight: 900;
}


/* ********************************************************************************************** */


@font-face {
    font-family: "Chronicle Display";
    src: url("../public/font/chronicle-display/Chronicle\ Display\ Roman.otf") format(opentype);
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../public/font/chronicle-display/Chronicle\ Display\ Light\ Italic.otf") format(opentype);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../public/font/chronicle-display/Chronicle\ Display\ Semibold.otf") format(opentype);
    font-weight: 600;
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../public/font/chronicle-display/Chronicle\ Display\ Black.otf") format(opentype);
    font-weight: 900;
}



/* *********************************************************************************************** */


@tailwind base;
@tailwind components;
@tailwind utilities;

.chronicle-display {
    font-family: 'Chronicle Display', sans-serif;
}

.gilory {
    font-family: 'Gilroy', sans-serif;
}

.text-accent {
    color: #FBD784;
}